<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log_pattern">
            %d{yyyy-MM-dd HH:mm:ss} %-6r [%t] %-5p %l %c %x - %m%n
        </Property>
        <Property name="log_path">.</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t][%p][%c:%L] %m%n"/>
        </Console>

        <RollingFile name="logFile" fileName="${log_path}/log4j2-all.log"
            filePattern="${log_path}/log4j2-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${log_pattern}"/>
            <TimeBasedTriggeringPolicy interval="1"/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="logger" level="trace" additivity="false">
            <AppenderRef ref="logFile"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logFile"/>
        </Root>
    </Loggers>
</Configuration>
